.event_calendar {
    padding: 20px 0px;
    background-color: #E8E5DC;

}

.event_calendar caption {
    color: #4B3434;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.event_calendar th {
    background-color: #666666;
    color: #FFFFFF;
    padding: 10px;
}

.event_calendar td {
    background-color: #FFFFFF;
    color: #4B3434;
    text-align: center;
    padding: 5px;
}

.event_calendar td:empty {
    background-color: #E8E5DC;
}

.event_calendar table th, .event_calendar table td {
    border: 1px solid #E8E5DC;
}

.event_calendar table th.sun {
    background: #D57D76;
}

.event_calendar table th.sat {
    background: #00A0C6;
}

.event_calendar table td.sun {
    background: #E9CED1;
}

.event_calendar table td.sat {
    background: #C5DFF3;
}

.event_calendar td.past {
    color: #9E9080;
}

.event_calendar {
    margin: auto;
}

.event_calendar table {
    margin: auto;
  }

  @media screen and (max-width: 768px) {
    .event_calendar {
        margin-bottom: 16px;
      }
  }
  @media screen and (max-width: 480px) {
    .event_calendar {
       padding: 10px;
      }
  }