@use "../global" as global; 

.access {
    @include global.mw1216;
    &__map {
        @include global.mb40;  
        iframe {
            width: 100%;
            height: 400px;
            @include global.tab {
                height: 280px;
            } 
        }
    }
    &__rg {
        @include global.sp {
            padding: 0px 16px;
        }  
        @include global.mb80;
        h2 {
            @include global.fs-xl;
            @include global.mb24; 
            @include global.tab {
                text-align: center;
            }   
        }
        h3 {
            @include global.fs-l;
            @include global.mb8;   
        }
        a {
            text-decoration: underline;
        }
        span {
            @include global.fs-s;
            padding-right: 8px;  
        }  
        br {
            display: none;
           
        }
        p {
            @include global.sp {
               font-size: 11px;
            }    
        }
    }
    &__tp {
        display: flex;
        @include global.tab {
            display: block;
        } 
        h2 {
            @include global.fs-2l; 
            border-bottom: 1px solid global.$text-main;
            @include global.mb24;   
        } 
        h3 {
            @include global.fs-l; 
            padding: 10px 16px;
            border:1px solid global.$sub-color; 
            display: inline-block;
            @include global.sp {
                padding: 10px; 
                font-size: 12px;
            } 
        }
        p {
            @include global.sp {
               font-size: 11px;
            }    
        }
        &__subway {
            width: 50%;
            margin-right: 24px;
            @include global.tab {
                width: 100%;
                @include global.mb80;   
            } 
        }
        &__car {
            width: 50%;
            @include global.tab {
                width: 100%;
            } 
        }
    }
}