@use "../global" as global;



//ポイントのブロック
.point {
    @include global.mw1216;
    @include global.mb80;
    &__anchor-link {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin: auto;
        @include global.mb80;
        @include global.sp {
            width: 322px; 
        } 
    }
    &__title {
        @include global.mb32;
    }
    &__point {
        text-align: center;
        @include global.mb40;
        br {
            display: none;
            @include global.sp {
                display: block;
            } 
        } 
        h2 {
            color:global.$point-main;
        }

    }
    &__main {
        width: 100%;
        @include global.mw1010;
        display: flex;
        align-items: center;
        @include global.mb80;  
        @include global.tab {
           display: block;
           padding: 0px;
           @include global.mb80;
        }
        &:nth-of-type(even) {
            flex-direction: row-reverse; 
        }
        &__img {
            position: relative;
            width: 485px;
            height: 331px;
            background-position: center;
            background-size: cover;
            @include global.tab {
                width: 100%;
                height: 344px; 
                @include global.mb16; 
            }
            @include global.sp {
                height: 235px; 
            }  
        }
        &__text {
            width: 50%;
            padding: 0px 32px;
            text-align: start;
            @include global.tab {
                width: 100%;
                padding: 0px;
            }
            h4 {
                @include global.fs-xl; 
                flex-wrap: wrap;
                @include global.mb16;
            }
            p {
                flex-wrap: wrap;
            }
        } 
    }
    &__dcr {
        position: absolute;
        top: -80px;
        left: -80px;
        @include global.sp {
            top: -64px;
            left: -8px;
        }   
    }
}


//

// FEELINGS TO A BUILDING


.building {
    @include global.mb80; 
    &__title {
        br {
            display: none;
            @include global.sp {
                display: block;
            }
        }
    }
    &__contents {
        width: 100%;
        height:auto;
        background-position: cover;
        background-size: cover;
    }
    &__cover {
        padding: 80px 0px;
        @include global.mw1216; 
        background-color:#ffffffe6;
        @include global.pc    {
            padding: 80px 40px;
            margin: 0px 40px;
         }    
        @include global.sp {
           padding: 40px 24px;
           margin: 0px 16px;
        }
    }
}

// 讃美歌ページ、建築ページ
.blockstyle03 {
    padding: 0px 80px;
    @include global.mb80;
    &__img {
        @include global.mw1216;
        max-width: 644px;
        height: 400px;
        background-position: center;
        background-size: cover;
        @include global.mb40;
        @include global.sp {
            height: 500px;
        }    
    }
    @include global.tab {
        padding: 0px
    }    
    &__text {
        margin: auto;
        @include global.tab {
            width: 100%;
        }      
        h3 {
            text-align: center; 
        }
        p {
            text-align:start ;
        }
        br {
            display: none;
            @include global.tab {
                display: block;
            }   
        }
    }
}

// 人物紹介
.blockstyle04 { 
    display: flex;
    justify-content: center;
    max-width: 1010px;
    margin: auto;
    @include global.tab {
        display: block;
        margin: auto;
    }   
    &__imgblock {
        &__img {
            position: relative;
            width: 469px;
            height: 304px;
            background-position: center;
            background-size: cover; 
            @include global.mb24;
            @include global.pc {
                width: 320px;
                height: 200px;
            }
            @include global.tab {
                width: 100%;
                height:300px;
            }
            @include global.sp {
                width: 100%;
                height:174px;
            }          
        }
        &__text {
            border-left:1px solid global.$point-main ;
            padding-left: 24px;
            @include global.mb32; 
            p {
                font-family: global.$font-ym; 
            }
        }
    }
    &__textblock {
        padding:28px 0px 28px 48px;
        h3 {
             @include global.mb32;
        }
        @include global.pc {
            padding:0px 0px 0px 24px;
        }    
        @include global.tab {
            padding-left: 0px;
        }
        span {
            text-decoration: underline;
        }      
    }
}

//代表 メッセージ
.top-message {
    &__contents {
    @include global.mw1216; 
    padding:48px 103px;
    background-color: global.$bg-main;
    @include global.pc    {
        padding: 40px;
        margin: 0px 40px;
     }    
    @include global.sp {
       padding: 24px;
       margin: 0px 16px;
    } 
    }  
}
.name-font {
    font-family: global.$font-ym; 
}