@use "../global" as global; 

.dress {
    &__top {
        @include global.mw1216;
        @include global.mb80; 
        text-align: center;
        h2 {
            @include global.fs-2xl;    
            @include global.mb16;
            @include global.tab{  
            font-weight: bold;
      } 
    }
      br {
      
      }
       
        p {@include global.mb24;
            &:last-child {
                margin-bottom: 0px;
            } 
            @include global.tab{ 
                text-align: start; 
              } 
        }
    }
    &__anchor-link {
        @include global.mb160;
       display: flex;
       justify-content: center;
        &__btn01 {
            text-align: center;
            background-color: global.$granmanie;
            border: 1px solid global.$point-main;
            padding:8px 80px;

            @include global.tab {
                padding:8px 40px; 
            }  
            @include global.sp {
                padding:4px 24px;
            }  
            h3 {
                color: #fff;
                letter-spacing: 0.1em;
                font-family: global.$font-cz; 
            }
            p {
                color: #fff;
                font-family: global.$font-ym;
            }
            &.active {
                background-color: #37384B33;
                h3 {
                    color:#000; 
                }
                p {
                    color: #000; 
                }
            }
        }
        &__btn02 {
            text-align: center;
            border: 1px solid global.$point-main;
            background-color: global.$primavera;
            padding:8px 80px;
            @include global.tab {
                padding:8px 40px; 
            }  
            @include global.sp {
                padding:4px 24px;
            }
            h3 {
                color: #fff;
                letter-spacing: 0.1em;
                font-family: global.$font-cz; 
            }  
            p {
                color: #fff;
                font-family: global.$font-ym;
            }
            &.active {
                background-color: #AF756633;
                h3 {
                    color:#000; 
                }
                p {
                    color: #000; 
                }
            }
        }
    }
    &__title {
       position: relative;
       @include global.mb160; 
        @include global.mw1216;

        @include global.tab{ 
            margin-bottom: 0px; 
         } 
        h2 {
          
        }
        &__dcr {
            position:absolute;
            top:-90px;
            left: -64px;
            @include global.pc{ 
                top:-90px;
                left: 0px;
             }
             @include global.tab{ 
                top:-90px;
                left: 0px;
             }  
            @include global.sp { 
                top:-72px;
                left: 0px;
             } 
        }
    }
    &__main {
        @include global.mb160;
        width: 100%;
        display: flex;
        align-items: start;
        @include global.pc { 
            @include global.mb80;
         }
        @include global.tab {
           display: block;
           padding: 0px;
           margin: auto;
        }
        &:nth-of-type(even) {
            flex-direction: row-reverse; 
        }
        &__img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-position: center;
            background-size: cover;
            @include global.pc {
                width: 50%;
             }
            @include global.tab {
                width: 100%;
                margin: auto;
            }
            @include global.sp {
                height: 235px; 
            }  
            &__img01 {
                position: relative;
                width: 360px;
                height: 480px;
                background-position: center;
                background-size: cover;
                margin-bottom: -160px;
                @include global.pc {
                    height: 320px;
                 }
                 @include global.tab {
                    height: 400px;
                    margin-bottom: -80px; 
                 }
                 @include global.sp {
                    height: 250px;
                 }    
            }
            &__img02 {
                width: 360px;
                height: 480px;
                background-position: center;
                background-size: cover;
                @include global.pc {
                    height: 320px;
                 }
                 @include global.tab {
                    height: 400px;
                 }
                 @include global.sp {
                    height: 250px;
                 }      
            }
            &__img03 {
                width: 360px;
                height: 400px;
                background-position: center;
                background-size: cover;
                @include global.pc {
                    height: 280px;
                 } 
                 @include global.tab {
                    height: 360px;
                 }  
                 @include global.sp {
                    height: 220px;
                 }   
            }
        }
        &__text01 {
            z-index: 100;
            width: 50%;
            padding: 80px;
            margin-left:-40px;
            background-color: #ffffffCC;
            text-align: start;
            @include global.pc {
                padding:64px;
             }
            @include global.tab {
                width: 100%;
                padding: 40px;
                margin-left:0px;
                margin-top: 24px;
            }
            @include global.sp {
                margin-top: 24px;
                padding: 48px 16px;
            }
           
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
                @include global.tab {
               
                }  
            }
            p {
                flex-wrap: wrap;
            }
        }
        &__text02 {
            z-index: 100;
            width: 50%;
            padding: 80px;
            margin-right:-40px;
            background-color: #ffffffCC;
            text-align: start;
            @include global.pc {
                padding:64px;
             }
            @include global.tab {
                width: 100%;
                padding: 40px;
                margin-right:0px;
                margin-top: 24px;
            }
            @include global.sp {
                margin-top: 24px;
                padding: 48px 16px;
            }
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
                @include global.tab {
                   
                }  
            }
            p {
                flex-wrap: wrap;
            }
        } 
    }
    &__contact {
        @include global.mw1216; 
        &__top {
            @include global.mb80; 
            h2 {
                @include global.mb16;  
                @include global.sp {
                    text-align: center;
                } 
            }
        }
        &__contents {
            display: flex;
            justify-content: space-between;
            text-align: start;
            @include global.pc {
                display: block;
            } 
            &__left {
                width: 50%;
                margin-right: 24px;
                @include global.pc {
                    width: 100%;
                    margin-right: 0px;
                    @include global.mb80;  
                } 
            }
            &__right {
                width: 50%;
                @include global.pc {
                    width: 100%;
                } 
            }
        }
        &__block {
            @include global.mb24; 
            &:last-child {
                margin-bottom: 0px;
            }
            h3 {
                @include global.fs-2l;  
                padding-bottom: 16px;
                border-bottom: 1px solid global.$point-main;
                @include global.mb24; 
                @include global.sp {
                    padding-bottom: 8px;
                }  
            } 
            h4 {
                @include global.fs-l;
                @include global.mb8; 
            }
            p {
                margin-bottom: 4px;
                font-family: global.$font-ym;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
}
.blue_line {
    padding-bottom: 0px;
    border-bottom:5px solid global.$granmanie;
    @include global.sp {
        border-bottom:3px solid global.$granmanie;
    }   
}
.red_line {
    padding-bottom: 0px;
    border-bottom:5px solid global.$primavera;
    @include global.sp {
        border-bottom:3px solid global.$primavera;
    }   
}
.dress_name {
    @include global.fs-xs;
   font-family: global.$font-ym; 
}


// 背景装飾

.square_dcr01_gra {
    position: absolute;
    width: 347px;
    height: 472px;
    background-color: global.$granmanie;
    top: 44px;
    left: 20%;
    z-index: -100;
    @include global.pc {
        width: 200px;
        height: 310px;
    }  
    @include global.tab {
        top: 20px;
        left: 20%;
        width: 347px;
        height: 400px;
    }
    @include global.sp {
        top: 8px;
        left: 20%;
        width: 205px;
        height: 250px;
    }  
}
.square_dcr02_gra {
    position: absolute;
    width: 207px;
    height: 193px;
    background-color: global.$granmanie;
    bottom: 0px;
    left: 40%;
    z-index: -100;
}
.square_dcr01_pri {
    position: absolute;
    width: 347px;
    height: 472px;
    background-color: global.$primavera;
    top: 44px;
    left: 20%;
    z-index: -100;
    @include global.pc {
        width: 200px;
        height: 310px;
    }  
    @include global.tab {
        top: 20px;
        left: 20%;
        width: 347px;
        height: 400px;
    }
    @include global.sp {
        top: 8px;
        left: 20%;
        width: 205px;
        height: 250px;
    }  
}
.square_dcr02_pri {
    position: absolute;
    width: 207px;
    height: 193px;
    background-color: global.$primavera;
    bottom: 0px;
    left: 40%;
    z-index: -100;
}
.dress__main-wrap {
 
}

.tab-content {
    display: none;
}


#granmanie.show {   
    display: block;
}
#primavera.show {   
    display: block;
}

.dress_br {
    display: none;
    @include global.sp {
        display: block;
    }   
}