@use "../global" as global;

.gallery {
    @include global.mw1216;
    @include global.sp {
        padding-left: 16px;
        padding-right: 16px;
    }   
    &__photo {
        @include global.mb80;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            margin-bottom: 24px;
            width: calc((100% - 48px) / 3);
            height: 200px;
            background-position: center;
            background-size: cover; 
            float: left;
            &:nth-last-of-type(-n+2) {
                margin-bottom: 0px;
            }
            @include global.tab {
                width: calc((100% - 16px) / 2); 
                height: 160px;
                margin-bottom: 16px;
            }
            @include global.sp {
                height: 88px;        
            }  
        }
    }
    &__movie {
        @include global.mb80;
        height: 100%;
        &__title {
        }
        &__contents {
            display: flex;
            justify-content: center;
            @include global.tab {
                display: block;
            } 
            &__item {
                margin-right: 24px;
                width: calc((100% - 24px) / 2);
                height: 342px;
                background-position: center;
                background-size: cover; 
                &:last-child {
                    margin-right: 0px; 
                }
                @include global.tab {
                    width: 100%;
                    margin-bottom: 16px;
                    &:last-child {
                        margin-bottom: 0px; 
                    }
                    height: 240px;
                }  
                @include global.sp {
                    height: 170px;
                }   
                iframe {
                   width: 100%;
                   height: 100%;
                } 
            }
        }
    }
    &__anchor-link {
        @include global.mb40;
        display: flex;
        justify-content: end;
    }
}
.gallery__instagram {
 
}
#sb_instagram {
    height: auto;
}