@use "../global" as global;

.partyspace {
    &__contents {
        @include global.mb160;
        &__title {
            position: relative;
            @include global.mb40;
            display: flex;
            justify-content:center ;
        }
        &__main {
            @include global.mw1216;
            @include global.mb80; 
        }
        &__photo {
            @include global.mb32; 
            display: flex;
            justify-content: center;
            @include global.sp {
                display: block;
            }
        }
        &__item {
            width: calc((100% - 48px) / 3);
            height: 300px;
            background-position: center;
            background-size: cover;
            margin-right: 24px;
            &:last-child {
                margin-right: 0px;
            }
            @include global.pc {
                margin-right: 16px;
                height: 240px;
            }
            @include global.tab {
                height: 160px;
                margin-right: 8px;
            }
            @include global.sp {
               width: 100%;
               height: 180px;
               margin-bottom: 8px;
               &:last-child {
                margin-bottom: 0px;
            } 
            }
        }
        &__text {

        }
        &__text01 {
            @include global.mb16; 
            padding-bottom: 32px;
            border-bottom: 1px solid global.$point-main;
            h3 {
                @include global.mb16; 
            }
            @include global.sp {
                padding-bottom: 24px;
             } 
        }
        &__text02 {
            p {
                font-family: global.$font-ym;
            }
        }
}
&__other {
    &__text {
        @include global.mw1216;
        h2 {
            text-align: center;
            color: global.$point-main;
            @include global.mb40; 
        }
        br {
            display: none;
            @include global.sp {
                display: block;
             } 
        }
    }
}
}


// 他の施設

.partyspace__other__block {
    @include global.mw1100;
    position: relative; 
    
    &__title {
        @include global.mb24; 
        h3 {
            @include global.fs-2xl;
            text-align: center;
        }
    }
}
.partyspace__other__block > li {
    border-bottom: 1px solid #fff;
    list-style: none;
    background-color:global.$bg_main;
  }
  .partyspace__other__block-label  {
    padding:20px 24px;
    &__flex {
        margin-right: 16px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       @include global.sp {
        margin-right: 12px;
    }   
       &__text {
        h3 {
            @include global.fs-2l;
            font-weight: 600;
        }
       }
    }
    &__flex02 {
        &__text {
            border-bottom: 1px solid global.$point-main;
            padding: 24px;
            display: flex;
            margin: 0px 103px 24px;
            align-items: center;
            @include global.pc {
                margin: 0px 24px 24px;
            }  
            @include global.tab {
                display: block;
                padding: 8px 0px;
                margin: 0px 24px;
            } 
         h3 {
            font-weight: 700;
             @include global.mb16;
             @include global.fs-2l;
             margin-right: 16px;
             @include global.tab {
                margin-right: 8px;
            }  
         }
         p {
            @include global.mb16;
         }
         &__name {
            width: 50%;
            @include global.tab {
                width: 100%;
            }  
         }
        }
    }   
    cursor: pointer;
    position: relative;
  }

  .partyspace__other__block-icon-wrap {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translatey(-50%);
    width: 38px;
    height: 38px;
    @include global.sp {
        margin-right: 12px;
        width: 24px;
        height: 24px;
    }   
  }

  .partyspace__other__block-icon {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .partyspace__other__block-icon:before,
  .partyspace__other__block-icon:after {
    position: absolute;
    content: "";
    display: block;
    transition: all 0.4s;
    background-color: global.$point_main;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);
  }
  /* そのうち1本を縦にする */
  .partyspace__other__block-icon:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  /* プラスアイコンクリック後、マイナスにする */
  .partyspace__other__block-icon.open:before {
    transform: translate(-50%, -50%) rotate(0deg);
  }

.partyspace__other__block-content {
    background-color: #fff;

}
.partyspace__other {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
/* プラスアイコン */
  /* ２本の線を.icon-wrapの中央に並行に重ねる */
  .partyspace__other-icon:before,
  .partyspace__other-icon:after {
    position: absolute;
    content: "";
    display: block;
    transition: all 0.4s;
  
    background-color: global.$point_main;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);
  }
  /* そのうち1本を縦にする */
  .partyspace__other-icon:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  /* プラスアイコンクリック後、マイナスにする */
  .partyspace__other-icon.open:before {
    transform: translate(-50%, -50%) rotate(0deg);
  }

.partyspace__other__block-content {
    align-items: center;
    padding-bottom: 24px;  
}
.other_adress {
    
    p {
        margin-bottom: 0px;
   }
   h3 {
    font-weight: 100;
   }
}


// アンカーリンク

.partyspace {
   
    &__anchor-link01 {
        @include global.mw1216; 
        display: flex;
        justify-content: space-between;
        max-width: 720px;
        margin: auto;
        @include global.mb40;
        @include global.sp {
            width: 338px; 
            flex-wrap: wrap;
        } 
    }
}
.title_space {
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 8px;
    p {
        text-align: center;
        padding: 0px 16px;
        color:global.$sub-color;
        border-bottom:1px solid global.$sub-color;
        font-size: 14px;
        @include global.tab {    
            padding: 0px 8px; 
            font-size: 12px;  
        }  
    }
}
.title_ribbon_left {
    img {
        width: 24px;
        margin-top: 14px;
        @include global.sp {    
            width: 18px;
            margin-top: 8px; 
        }   
    }
}
.title_ribbon_right {
    img {
        width: 24px;
        margin-top: 14px;
        @include global.sp {    
            width: 18px;
            margin-top: 8px; 
        }  
    }
}
.partyspace__other__notes {
    @include global.mw1216;  
}

