@use "../global" as global; 

.pastor_intro{
&__wrap {
}
&__block { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    @include global.tab {
        display: block;
        margin: auto;
        max-width: 768px;
    }   
    &__imgblock {
        position: relative;
        z-index: 100;
        padding: 80px;
        @include global.tab {
            padding:48px 0px;
            width: 340px;
        }
        @include global.sp {
            width: 268px;
            padding:48px 0px 24px;
        }     
        background-color: global.$bg_main;
        &__img {
            padding: 80px 0px 80px 80px;
            margin-right: -104px;
            position: relative;
            width: 390px;
            height: 368px;
            background-position: center;
            background-size: cover; 
            @include global.mb16;
            @include global.pc {
                width: 320px;
                height: 320px;
            }
            @include global.tab {
                padding:0px;  
                width: 300px;
                height: 300px;
            }
            @include global.sp{
                width: 240px;
                height: 240px;
                margin-bottom: 24px;
            }       
        }
        &__text {
            border-left:1px solid global.$point-main ;
            padding-left: 24px;
            p {
                font-family: global.$font-ym; 
            }
            @include global.tab {
               margin-left: 16px;
            } 
        }
    }
    &__textblock {
        padding:0px 0px 0px 127px;
        p {
            font-family: global.$font-ym; 
        }  
        @include global.pc {
            padding:0px 0px 0px 104px;
            margin-right: 40px;
        }
        @include global.tab {
            padding:24px;
            margin-right: 0px;
        }
        @include global.sp {
            padding:48px 16px;
            margin-right: 0px;
        }  
    }
}
}
.scq_dcr01 {
    z-index: -100;
    position: absolute;
    width: 231px;
    height: 231px;
    background-color: global.$bg_sub;
    top: 48px;
    right: -64px;
    @include global.tab {
        width: 207px;
    height: 207px;
        top: 4%;
    right: -6%;
    }
    @include global.tab {
        top: 6%;
    right:-8%;
    }  
}

.pastor_blog3 {
    @include global.mw1216;
    margin: auto;
    position: relative;
    background-color: global.$bg-main;
    @include global.pc{
        padding-left: 0px;
        padding-right: 0px;
    } 
   &__list {
    position: relative;
    padding: 80px 103px;
    @include global.mb32;
    @include global.pc {
        padding: 40px;
    }
    @include global.tab {
        padding: 40px 24px;
    }
    @include global.sp {
        padding: 40px 16px;
    }
    &__title {
        margin: auto;
    }
   } 
}
.pastor_blog02 {
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.pastor_blog_wrapper {
    @include global.mw1216; 
}
.pastor_blog_innerwrap {
    display: flex;
    align-items: start;
    @include global.mw1216;
    margin: 0px auto; 
    @include global.tab {
        padding: 0px;
    } 
}
.pastor_sidebar {
    width: 100%;
    max-width:276px ;
    padding-left: 24px;
    border-left: 1px solid global.$bg-main;
    margin-left: 80px;
    @include global.pc {
        border: 0px;  
    }
    @include global.tab {
        margin-left: 40px;  
    }

    @include global.tab {
        margin: auto;
        margin-top: 80px;
        padding-left: 0px; 
        border: 0px;
        max-width:100%; 
        padding:0px 40px;
    }
    @include global.sp {
        margin-top: 0px 40px;
    }
    &__block {
        padding: 0px 0px 40px;
        @include global.mb40;
        border-bottom: 1px solid global.$point-main;
        &:last-child {
            margin-bottom: 0px;
            border-bottom: 0px;
        }
        @include global.tab {
            padding: 0px 24px 0px;
        }
        @include global.tab {
            padding: 0px 16px 0px;
        }    
    }
}


//ウィジェットカスタマイズ
.widget-widget_archive {
    a {
        @include global.fs-s; 
        font-family: global.$font-yg; 
    }
    ul {
        li {
            @include global.fs-s; 
            font-family: global.$font-yg; 
        }
    }
}
.pastor-widget-area {
    ul {
    li {
        @include global.fs-s; 
        margin-bottom: 8px;
        a {
            font-family: global.$font-yg; 
        }
    }
}
}
.widget-title {
    font-size: 16px;
    font-family: global.$font-cz;
    @include global.mb16;
    span {
        display: block;
    } 
}
.sub-widget-title {
    @include global.fs-xxs;
   
}
.caption {
    text-align: center;
    font-size: 12px;
    font-family: global.$font-yg;
}
.thead tr td {
    font-family: global.$font-yg;
    a {
        background-color: global.$bg-main;
    } 
}
.calendar_wrap {
    margin-bottom: 40px;
    border-bottom: 1px solid global.$bg-main;
    padding: 24px;
}
.wp-calendar {
    margin-bottom: 16px;
    a {
        background-color: global.$bg-main;
    }
    @include global.tab {
        margin: auto;
        margin-bottom: 16px;  
    } 
}

.widget_recent_entries {
    margin-bottom: 40px;
    border-bottom: 1px solid global.$bg-main; 
    ul {
        padding:24px;
    }
}
.widget_archive {
    margin-bottom: 40px;
    border-bottom: 1px solid global.$bg-main; 
    ul {
        padding:24px;
    } 
}
.wp-calendar-table {
    caption {
        text-align: center;
        margin-bottom: 16px;
        font-family: global.$font-yg;
    }
    thead {
        tr {
            font-family: global.$font-yg;
            th {
                padding: 6px;
                font-family: global.$font-yg;
            }
        }
    }
    tbody {
        tr {
            font-family: global.$font-yg;
            td {
                font-family: global.$font-yg;
                padding: 6px;
                font-size: 14px;
                a {
                    background-color: global.$bg-main;
                }
            }
        }
    }
}
.sidebar.wp-calendar {
    margin-bottom: 16px;
    a {
        background-color: global.$bg-main;
    } 
    td {
        a {

        }
    }
}
.wp-calendar-nav-prev {
    margin: 0px 70px 0px 24px;
}
.wp-calendar-nav {
    @include global.tab {
        text-align: center;
    }  
}
.pastor-sidebar {
    @include global.tab {
        padding: 0px 40px;
    }  
    max-width: 300px;
}

.sidebar.wp-calendar.td {
    padding: 8px;
}
.pastor_blog_wrapper {
    display: flex;
    margin: auto;
    @include global.pc {
        display: block;
    } 
    @include global.tab {
        padding: 0px;
    }   
}
.pastor_blog_innerwrap {
    @include global.pc {
        display: block;
    }  
}
.moz-quote-pre {
    white-space: break-spaces;
}
.widget-title {
    h2 {
        font-size: 18px;
    }
span {
    font-family: global.$font-yg;
    font-size: 12px;
}
}
.wp-calendar-nav {
    font-family: global.$font-yg; 
}
.wp-calendar-nav-prev {
    a {
        font-family: global.$font-yg;
    }
 

}
.wp-calendar-nav-next {
    a {
        font-family: global.$font-yg; 
    }
}