@use "../global" as global;

.propose{
    width: 100%;
    &__anchor-link {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin: auto;
        @include global.mb80;
        @include global.sp {
            width: 322px; 
        } 
    }
    &__title {
        @include global.mb32;
    }
    &__top {
    }
    &__recommend-point {
             &__title {
                display: flex;
                @include global.tab {
                    justify-content: center;
                }  
            @include global.mw1010;
            @include global.mb80; 
            
        }
        &__contents {          
        }
    }
    &__plan {
        position: relative;
        padding: 80px 103px;
        margin: 0px 112px;
        background-color: global.$bg_main;
        @include global.pc {
            padding: 80px 40px;
            margin: 0px 80px;
        }
        @include global.tab {
            padding: 48px 24px;
            margin: 0px 48px;
        }
        @include global.tab {
            padding: 48px 16px;
            margin: 0px;
        }     
        &__title {
            @include global.mb24; 
            h3 {
                @include global.fs-2xl;
                text-align: center;
            }
        }
    }
    &__contact {
        &__title {
            @include global.mb32;  
            h2 {
                text-align: center;

            }
        }
    }
}

.recommend_16 {
    @include global.fs-xs; 
    color: global.$point-main;
    font-family: global.$font-yg;
}


// スケジュール矢印

.arrow_down_propose01 {
    position: absolute;
    top: 15%;
    img {
        width:24px ;
        height: auto;
    }
    @include global.pc {
        top: 15%;
    } 
    @include global.tab {
        top: 15%;
    }  
    @include global.sp {
        top: 15%;
    } 
}
.arrow_down_propose02 {
    position: absolute;
    top: 43%;
    img {
        width:24px ;
        height: auto;
    }
    @include global.pc {
        top: 43%;
    } 
    @include global.tab {
        top: 42%;
    }  
    @include global.sp {
        top: 42%;
    } 
}
.arrow_down_propose03 {
    position: absolute;
    top: 71%;
    img {
        width:24px ;
        height: auto;
    }
    @include global.pc {
        top: 71%;
    } 
    @include global.tab {
        top: 69%;
    }  
    @include global.sp {
        top: 69%;
    } 
}

// プラン
.plan {
    @include global.mb80;
    position: relative;
    padding:80px 0px;
    background-color: global.$bg-main;
    @include global.sp {
        padding:40px 0px;
    }  
    &__title {
        @include global.mw1216;
        text-align: center;
        @include global.mb24;
        h3 {
            color: global.$point-main;
            @include global.mb16;
        }
        p {

        }
    }
    &__wrap {
        
    }
    &__block {
        @include global.mw1216;
        display: flex;
        justify-content: center;  
        @include global.mb40;
        @include global.pc {
            flex-wrap: wrap;
        }   
    }
    &__box {
        margin-right: 24px;
        &:last-child {
            margin-right: 0px;
        }
        padding: 40px 32px;
        background-color: #fff;
        width: calc((100% - 24px) / 3);
        @include global.pc {
            margin-right: 0px;
            width: 100%;
            @include global.mb24;
            &:last-child {
                margin-bottom: 0px;
            }
            @include global.sp {
                padding:24px;
            }   
        }  
        &__title {
            border-bottom: 1px solid global.$point-main;
            @include global.mb24;
            padding: 0px 16px 8px;
            @include global.sp {
                padding: 0px 0px 0px 8px;
            }  
            h2 {
                @include global.fs-2l;
                @include global.mb8; 
            }
            h3 {
                @include global.fs-3xl;
                color:global.$price-color;
            }
            span {
                @include global.fs-m;
                font-family: global.$font-ym;
                color:#D3A754
            }
        }
       
        &__set-title {
            p {
                font-family: global.$font-ym;
            }
            padding: 6px 16px;
            border-right: 1px solid global.$point-main;
            border-bottom: 1px solid global.$point-main;
            display: inline-block;
            @include global.mb16;
            @include global.sp {
                padding: 4px 10px;
            }  
        }
        &__set-list {
            li {
                @include global.mb16;
                @include global.fs-m;
                font-family: global.$font-ym;
                line-height: 1.5;
                position: relative; 
                padding-left: 20px; 
                &::before {
                    position: absolute; 
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%; 
                    background-color: global.$point-main;
                    margin-right: 16px;
                    vertical-align: middle;
                    left: 0; 
                    top: 6px;
                    @include global.sp {
                        width: 6px;
                        height: 6px;
                    }   
                }
            }
        }
    }
    &__option {
        @include global.mw800; 
        &__title {
            @include global.mb24;
            h2 {
                color: global.$point-main; 
               padding-top: 8px;
               padding-bottom: 8px;
                background-color: #fff;
                text-align: center;
                @include global.fs-xl;
            }
        }
        &__contents {
            p {
                @include global.mb24;
                font-family: global.$font-ym;
            }
        }
        @include global.mb40; 
    }
}
.taxーincluded {
    text-align: center;
    @include global.fs-s;
}

.recommended_point__sub__img {
    position: absolute;
    bottom: -6%;
    right: -10%;
    width: 180px;
    height: 240px;
    background-position: center;
    background-size: cover;
    @include global.pc {
        width: 140px;
    height: 200px;
    }
    @include global.sp {
        width: 120px;
        height: 160px;
    }      
}

.recommended_point {
    @include global.sp {
       padding: 0px 16px;
    }   
}