@use "../global" as global; 

.resort {
    &__top {
        @include global.mw1216;
        @include global.mb80; 
        text-align: center;
        h2 {
       @include global.mb16;
       @include global.fs-2xl; 
       &:last-child {
        @include global.mb32;     
       }
        @include global.tab{ 
           text-align: center; 
           font-weight: bold;
         } 
        }
        p {
            @include global.mb24;
            font-family: global.$font-ym;
            &:last-child {
                margin-bottom: 0px;
            } 
            @include global.tab{ 
                text-align: start; 
              } 
        }
        br {
            display: none;
            @include global.tab{ 
                display: block;
              }  
        }
    }
    &__contact {
        @include global.mb80; 
    }
    &__cv {
        &__title {
            @include global.mb40; 
            text-align: center;
            h2 {
                color: global.$point-main;
            }
        }
    }
    &__plan {
        @include global.mb80;   
    }
    &__qanda {
        @include global.mb80;  
    }
    &__contact {
        @include global.mw1216; 
        &__top {
            @include global.mb80; 
            h2 {
                @include global.mb16;  
                @include global.sp {
                    text-align: center;
                } 
            }
            p {

            }
        }
        &__contents {
            display: flex;
            justify-content: start;
            align-items: end;
            text-align: start;
            @include global.pc {
                display: block;
            } 
            &__left {
                width: 50%;
                margin-right: 24px;
                @include global.pc {
                    width: 100%;
                    margin-right: 0px;
                    @include global.mb48;  
                } 
            }
            &__right {
               display: block;
               @include global.tab {

            } 
            }
        }
        &__block {
            @include global.mb24; 
            &:last-child {
                margin-bottom: 0px;
            }
            h2 {
                @include global.fs-2l;  
                padding-bottom: 16px;
                border-bottom: 1px solid global.$point-main;
                @include global.mb24; 
                @include global.sp {
                    padding-bottom: 8px;
                }  
            } 
            h3 {
                @include global.fs-l;
                @include global.mb8; 
            }
            p {
                margin-bottom: 4px;
                font-family: global.$font-ym;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
}

.resort-info {
    @include global.mb80; 
    text-align: center;
    @include global.tab {
        padding: 0px 16px;
    } 
    h2 { 
        @include global.mb24; 
        @include global.tab {
            text-align: start;
          }  
    }
    p {
        @include global.tab {
            text-align: start;
          }  
    }
    br {
        display: none;
        @include global.sp {
          display: block; 
        }   
    }
    &__btn {
        display: flex;
        justify-content: center;
    } 
}


.resort-cv_block {
    width: 390px;
    padding: 32px;
    background-color: #fff;
    margin: 0px 8px 0px 4px;
    margin-bottom: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    &__top {
        display: flex;
        align-items:start;
        justify-content: space-between;
        border-bottom: 1px solid global.$point-main;
        padding-bottom:16px;
        @include global.mb16; 
        img {
            width: 70px;
            height: 70px;
            margin-right: 24px;
            @include global.pc {
                width: 60px;
            height: 60px;
            margin-right: 16px;
            }  
        }
        &__text {
            h3 {
                @include global.fs-m;
                color:#D3A754; 
                font-family: global.$font-cz; 
                line-height: 1.3;
                @include global.mb8;
            }
            p {
                @include global.fs-xs; 
            }
        }
    }
    &__text {
        h3 {
            @include global.fs-2l;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            @include global.mb16;
            color: global.$point-main;
        }
        p {
            @include global.fs-xs; 
        }
    }
}

.slick-track {
    display: flex;
  }
  .slick-slide {
    height: auto !important;
  }

  .resort {
    &__title {
       position: relative;
       @include global.mb160; 
        @include global.mw1216;
        @include global.tab{ 
           
         } 
        h2 {
          
        }
        &__dcr {
            position:absolute;
            top:-90px;
            left: -64px;
            @include global.pc{ 
                top:-90px;
                left: 0px;
             }
             @include global.tab{ 
                top:-90px;
                left: 0px;
             }  
            @include global.sp { 
                top:-72px;
                left: 0px;
             } 
        }
    }
    &__main {
        @include global.mb80;
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        @include global.pc { 
            @include global.mb80;
         }
        @include global.tab {
           display: block;
           padding: 0px;
           margin: auto;
           @include global.mb80;
        }
        &:nth-of-type(even) {
            flex-direction: row-reverse; 
        }

// 1番目
        &__img01 {
            position: relative;
            background-position: center;
            background-size: cover;
            @include global.pc {
                width: 50%;
             }
            @include global.tab {
                width: 100%;
                margin: auto;
            }
            @include global.sp {
                height: 235px; 
            }  
            &__title {      
                @include global.mb80;
                @include global.tab {
                    padding: 0px 16px;
                    @include global.mb40;
                }  
              p {
                display: flex;
                align-items: center;
                justify-content: start;
                 color: global.$point-main;
                 font-family: global.$font-cz;
                 @include global.fs-xl;
                 &::before {
                    content: '';
                    width: 110px;
                    height: 1px;
                    background-color: global.$point-main;
                    margin-right: 10px;
                    @include global.sp {
                        width: 48px;
                     } 
                  }
              }
              span {
                margin-left: 8px;
                @include global.fs-3xl;
                color: global.$point-main;
                 font-family: global.$font-cz;
              }
             
            }
            &__img {
                position: relative;
                width: 620px;
                height: 440px;
                background-position: center;
                background-size: cover;
                @include global.pc {
                    height: 320px;
                 }
                 @include global.tab {
                    width: 100%;
                    height: 400px;
                 }
                 @include global.sp {
                    height: 250px;
                 }    
            }
        }
// ２番目

        &__img02 {
            position: relative;
            background-position: center;
            background-size: cover;
            @include global.pc {
                width: 50%;
             }
            @include global.tab {
                width: 100%;
                margin: auto;
            }
            @include global.sp {
                height: 235px; 
            }  
            &__title {
                @include global.mb160; 
                @include global.tab {
                    padding: 0px 16px;
                    @include global.mb40;
                }  
              p {
                display: flex;
                align-items: center;
                justify-content: start;
                 color: global.$point-main;
                 font-family: global.$font-cz;
                 @include global.fs-xl;
                 &::before {
                    content: '';
                    width: 110px;
                    height: 1px;
                    background-color: global.$point-main;
                    margin-right: 10px;
                    @include global.sp {
                       width: 48px;
                    } 
                  }
              }
              span {
                margin-left: 8px;
                @include global.fs-3xl;
                color: global.$point-main;
                 font-family: global.$font-cz;
              }
            }
            &__img {
                position: relative;
                width: 620px;
                height: 440px;
                background-position: center;
                background-size: cover;
                @include global.pc {
                    height: 320px;
                 }
                 @include global.tab {
                    width: 100%;
                    height: 400px; 
                 }
                 @include global.sp {
                    height: 250px;
                 }    
            }
        }

        // 3番目

        &__img03 {
            position: relative;
            background-position: center;
            background-size: cover;
            @include global.pc {
                width: 50%;
            }
            @include global.tab {
                width: 100%;
                margin: auto;
            }
            @include global.sp {
                height: 235px; 
            }  
            &__title {
                @include global.mb40;
                @include global.tab {
                    padding: 0px 16px;
                    @include global.mb40;
                }   
            p {
                display: flex;
                align-items: center;
                justify-content: start;
                 color: global.$point-main;
                 font-family: global.$font-cz;
                 @include global.fs-xl;
                 &::before {
                    content: '';
                    width: 110px;
                    height: 1px;
                    background-color: global.$point-main;
                    margin-right: 10px;
                    @include global.sp {
                        width: 48px;
                     } 
                  }
            }
            span {
                margin-left: 8px;
                @include global.fs-3xl;
                color: global.$point-main;
                font-family: global.$font-cz;
            }
            }
            &__img {
                position: relative;
                width: 620px;
                height: 440px;
                background-position: center;
                background-size: cover;
                @include global.pc {
                    height: 320px;
                }
                @include global.tab {
                    width: 100%;
                    height: 400px;
                }
                @include global.sp {
                    height: 250px;
                }    
            }
        }

// 4番目

&__img04 {
    position: relative;
    background-position: center;
    background-size: cover;
    @include global.pc {
        width: 50%;
     }
    @include global.tab {
        width: 100%;
        margin: auto;
    }
    @include global.sp {
        height: 235px; 
    }  
    &__title {
        @include global.mb40; 
        @include global.tab {
            padding: 0px 16px;
            @include global.mb40;
        }  
      p {
        display: flex;
        align-items: center;
        justify-content: start;
         color: global.$point-main;
         font-family: global.$font-cz;
         @include global.fs-xl;
         &::before {
            content: '';
            width: 110px;
            height: 1px;
            background-color: global.$point-main;
            margin-right: 10px;
            @include global.sp {
                width: 48px;
             } 
          }
      }
      span {
        margin-left: 8px;
        @include global.fs-3xl;
        color: global.$point-main;
         font-family: global.$font-cz;
      }
    }
    &__img {
        position: relative;
        width: 620px;
        height: 440px;
        background-position: center;
        background-size: cover;
        @include global.pc {
            height: 320px;
         }
         @include global.tab {
            width: 100%;
            height: 400px;
         }
         @include global.sp {
            height: 250px;
         }    
    }
}

        &__text01 {
            margin-top: 434px;
            z-index: 100;
            width: 40%;
            padding: 32px;
            margin-left:-286px;
            background-color: #ffffffE6;
            text-align: start;
            @include global.pc {
                padding:24px;
                width: 70%;
             }
            @include global.tab {
                width: 100%;
                padding: 24px;
               margin: auto;
            }
            @include global.sp {
            margin-top: 133px; 
            }
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
                @include global.tab {
               
                }  
            }
            p {
                flex-wrap: wrap;
            }
        }


        &__text02 {
            z-index: 100;
            width: 50%;
            padding: 32px;
            margin-right:-400px;
            margin-top: 160px;
            background-color: #ffffffE6;
            text-align: start;
            @include global.pc {
                padding:24px;
                width: 70%;
                margin-top: 200px; 
             }
            @include global.tab {
                width: 100%;
                padding: 24px;
                margin: auto;
            }
            @include global.sp {
                margin-top: 133px; 
            }
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
                @include global.tab {
                   
                }  
            }
            p {
                flex-wrap: wrap;
            }
        }
        
        &__text03 {
            padding: 32px;
            background-color: #ffffffE6;
            text-align: start;
            @include global.pc {
                padding:24px;
             }
            @include global.tab {
                width: 100%;
                padding: 24px;
                margin: auto;
            }
            @include global.sp {
                margin-top: 133px; 
            }
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
                @include global.tab {
                   
                }  
            }
            p {
                flex-wrap: wrap;
            }
        } 

        &__text04 {
            z-index: 100;
            width: 50%;
            padding: 32px;
            margin-right:-400px;
            margin-top: 480px;
            background-color: #ffffffE6;
            text-align: start;
            @include global.pc {
                padding:24px;
                width: 70%;
                margin-top: 440px;
             }
            @include global.tab {
                width: 100%;
                padding: 24px;
                margin: auto;
            }
            @include global.sp {
                margin-top: 133px; 
            }
            h3 {
                flex-wrap: wrap;
                @include global.mb32;
            }
            p {
                flex-wrap: wrap;
            }
        } 

    }
    &__contact {
        @include global.mw1216; 
        &__top {
            @include global.mb80; 
            h2 {
                @include global.mb16;  
                @include global.sp {
                    text-align: center;
                } 
            }
        }
        &__contents {
            display: flex;
            justify-content: space-between;
            text-align: start;
            @include global.pc {
                display: block;
            } 
            &__left {
                width: 50%;
                margin-right: 24px;
                @include global.pc {
                    width: 100%;
                    margin-right: 0px;
                    @include global.mb48;  
                } 
            }
            &__right {
                width: 50%;
                @include global.pc {
                    width: 100%;
                } 
            }
        }
        &__block {
            @include global.mb24; 
            &:last-child {
                margin-bottom: 0px;
            }
            h2 {
                @include global.fs-2l;  
                padding-bottom: 16px;
                border-bottom: 1px solid global.$point-main;
                @include global.mb24; 
                @include global.sp {
                    padding-bottom: 8px;
                }  
            } 
            h3 {
                @include global.fs-l;
                @include global.mb8; 
            }
            p {
                margin-bottom: 4px;
                font-family: global.$font-ym;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            a {
                text-decoration: underline;
            }
        }
    }
}


// 写真の装飾
.resort_photo_dcr {
    display: flex;
    justify-content: center;
    align-items: center;
    @include global.tab {
        margin: auto;
        width: 70%;
        margin-right: 0px;
    }  
    &01 {
        width: 335px;
        height: 200px;
        background-position: center;
        background-size: cover;
        margin-top: 100px;
        margin-right: -112px;
        @include global.tab {
            height: 160px;
            margin-right: -40px;
        }
        @include global.sp{
           height: 110px;
           margin-top:64px;
        }    
    }
    &02 {
        width: 335px;
        height: 200px;
        background-position: center;
        background-size: cover;
        @include global.tab {
            margin: auto;
            height: 160px;
            margin-top: 0px;
        } 
        @include global.sp{
            height: 110px;
         }     
    }
}

.resort__main__text03__wrap {
    width: 40%;
    display: block;
    margin-left:-286px;
    margin-top: 434px;
    z-index: 100;
    @include global.pc {
        width: 70%;
    }  
    @include global.tab {
        margin: auto;
        width: 100%;
    }  
}