@use "../global" as global; 

.pastor_blog_wrap {
    display: flex;
 }

.pastor_blog {
    width: 100%;
    max-width: 808px;
    margin-left: 112px;
    &__btn {
        display: flex;
        justify-content: center;
    }
    @include global.tab {
        margin-left: 0px; 
        margin: 0px 40px;
    }
    @include global.sp {
        margin: 0px 16px;
    }
}

.pastor-single_wrap {
    display: flex;
    padding: 0px 112px;
    @include global.pc {
        padding: 0px 40px;
    } 
    @include global.tab {
        padding: 0px 24px;
        display: block;
    } 
}
