@use "../global" as global; 

.church_event {
    @include global.mw1100;
    &__btn {
       display: flex;
       justify-content: center;
    }
}


.church_event__top {
    @include global.mw1100;
 }
 .church_event__top-details {
     @include global.mb32;
      &__category {
         @include global.mb32;
         p {
             padding: 8px 32px;
             border: 1px solid global.$sub-color;
             display: inline-block;
             @include global.sp {
                 padding: 4px 16px;
             } 
         }
     }
     &__date {
         @include global.mb16; 
     }
     &__title {
        h1 {
            @include global.fs-3xl;  
        }
         @include global.mb24;
         @include global.pb16; 
         border-bottom: 1px solid global.$text_main ;
     }
     &__thumbnail {
         width: 100%;
         height: 596px;
         background-position: center;
         background-size: cover;
         @include global.tab {
             height: 400px;
         }
         @include global.sp {
             height: 200px;
         }
     }
 }