@use "../global" as global; 
.voice { 
  margin: auto;
    &__contents {
        margin: auto;
        @include global.mw1216;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        @include global.pc {
        }
        @include global.tab {
            justify-content: space-between; 
        }   
        @include global.sp {
            padding-left: 40px;
            padding-right: 40px;
        }  
        a {
            width: calc((100% - 48px) / 3);
    margin-bottom: 8px;      
    @include global.mb40;
    @include global.tab {
        width: calc(100% / 2);
    }
    @include global.sp {
        width: 100%;
        margin: 0px 0px 24px 0px;
    }
        }
    }
    }

    // voiceページのブロック

.cv_block2 {
    height: 100%;
    background-color: #fff;
    margin: 0px 8px 0px 4px;
    margin-bottom: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    &__img {
        width: 100%;
        height: 256px;
        background-position: center;
        background-size: cover;
        @include global.pc {
            height: 200px;
        }  
        @include global.tab {
            height: 200px;
        }  
        @include global.sp {
            height: 160px;
        }  
    }
    &__text {
        padding: 16px 24px;
        h3 {
            @include global.fs-2l;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            @include global.mb16;
            color: global.$point-main;
        }
    }

    &:hover {
        @include global.main-hover;
    }
}

.cv_block3 {
    width: calc((100% - 48px) / 3);
    height: auto;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .25);
    @include global.tab{
        width: calc((100% - 24px) / 2);
        @include global.sp{
            width: 100%;
        }   
    }
    a {
       
    }
    &__img {
        width: 100%;
        height: 256px;
        background-position: center;
        background-size: cover;
        @include global.pc {
            height: 200px;
        }  
        @include global.tab {
            height: 200px;
        }  
        @include global.sp {
            height: 160px;
        }  
    }
    &__text {
        padding: 16px 24px;
        h3 {
            @include global.fs-2l;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            @include global.mb16;
            color: global.$point-main;
        }
    }

    &:hover {
        @include global.main-hover;
    }
}

.voice{
    &__contents3 {
        margin: auto;
        @include global.mw1216;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        @include global.tab {
            flex-wrap: wrap;
        }  
        @include global.sp {
            padding-left: 40px;
            padding-right: 40px;
        }  
        a {
            width: calc((100% - 48px) / 3);
    margin-bottom: 8px;      
    @include global.mb40;
    @include global.tab {
        width: calc((100% - 48px) / 2);
    }
    @include global.sp {
        width: 100%;
        margin: 0px 0px 16px 0px;
    }
        }
    }
}   
.voice__contents3 {
}