@use "../global" as global; 

footer {
    width: 100%;
    background-color: global.$bg_main;
}
.footer {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.footer-top {
    text-align: center;
    padding-top: 40px;
    &__logo {
        @include global.mb8;
        img {
            width: 240px;
        }
    }
    &__address {
        @include global.sp {
            padding: 0px 80px;
        }  
        span {
           @include global.fs-l;
        }
        h2 {
            @include global.mb8;
            @include global.tab {
                text-align: center;
            }   
        }
        p {
            letter-spacing: 0.1em;
            @include global.tab {
                text-align: center;
            }   
            @include global.sp {
                text-align: end;
            }  
        }
    }
}
.new-line {
    
}



.footer-contents {
    @include global.footer {
        display: block;
       } 
    &-wrap {
    display: flex;
    align-items: start;
    @include global.footer {
        display: block;
    } 
    @include global.tab {
        display: block;
    }
    }
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 80px 110px;
    @include global.pc {
        display: block;
        padding: 40px;
    } 
    &__btn {
        width: 286px;
        @include global.footer {
         margin: auto;
         margin-bottom: 40px;
        } 
        @include global.tab {
            margin: auto;
            margin-bottom: 16px;
        }
    }
    &__menu {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        box-sizing: border-box;
        padding-left: 64px;
        @include global.footer {
            margin-bottom: 40px;
            padding-left: 0px;
           } 
        @include global.pc {
            padding-left: 32px;
        } 
        @include global.tab {
            padding-left: 0px;
            margin-bottom: 24px;
        }
        &__box {
            flex: 1;
            width: 50%;
            box-sizing: border-box;
            margin-right:56px;
            &:last-child {
                margin-right:0px; 
            }
            @include global.tab {
                display: block;
                margin-right:0px ;
            } 
        p {
            display: table;
            table-layout: fixed;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 8px;
            letter-spacing: 0.1em;
            @include global.tab {
                white-space: normal;
            } 
            @include global.sp {
                font-size: 11px;
            }  
        }
        p::before {
            content: '\25B6';
            display: table-cell;
            padding-right: 0.5em;
            color: global.$point-main;
        }
        p:hover {
            @include global.main-hover;
        }
        a {
            font-family: global.$font-yg;
            letter-spacing: 0.1em;
        }
        
    }
    }
    &__sns {
        @include global.footer {
            display: flex;
            justify-content: center;
        } 
    }
  
}

.footer-map {
    display: flex;
    @include global.tab {
        display: block;
        justify-content: center;
    } 
    &__img {
        width: 50%;
        iframe {
            width: 100%;
            height: 400px;
        }
        @include global.tab {
            width: 100%;
        }    
    }
    &__text {
        position: relative;
        width: 50%;
        height: 400px;
        background-size:cover;
        background-position: center;
        z-index: 0;
        display: flex;
        @include global.tab {
            width: 100%;
        }    
        &__contents {
            text-align: center;
            margin: auto;
            z-index: 2;
            span {
                @include global.fs-xsb;
                font-family: global.$font-yg;
                margin-right: 8px;
            }
        }
        &:after {
            content: '';
            background-color: rgba(#fff, 0.7);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
}
.footer-copyright {
    text-align: center;
    padding: 24px 0px;
}



.footer-top__address__phone{
    p {
        font-size: 30px;
        @include global.pc {
            @include global.fs-2xl;
        } 
        @include global.mb8;
        @include global.tab {
            text-align: center;
        }
        @include global.sp {
            text-align: center;
        }    
    }
   
}