@use "../global" as global; 
/*
.header-menu {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: global.$bg_main;
    position: fixed;
    top: 32px;
    left: 24px;
    z-index: 2000;
    @include global.tab {
        width: 80px;
        height: 80px;
        top: 32px;
        left: 32px;
    } 
    @include global.sp {
        width: 56px;
        height: 56px;
        top: 16px;
        left: 16px;
    } 
    @include global.main-radius;
    &__line {
        span {
            width: 30px;
            display: inline-block;
            transition: all .4s;/*アニメーションの設定*/
            
            /*position: absolute;
            left: 35px;
            height: 2px;
            border-radius: 2px;
            background:global.$sub-color;
            @include global.tab {
                width: 28px;
                left: 26px;
                height: 2px;
            } 
            @include global.sp {
                width: 20px;
                left: 18px;
                height: 1px;
            }
        } 
        span:nth-of-type(1) {
            top:32px;
            @include global.tab {
                top:24px; 
            } 	
            @include global.sp {
                top:18px; 
            } 	
        }
        span:nth-of-type(2) {
            top:38px;
            @include global.tab {
                top:29px; 
            } 	
            @include global.sp {
                top:22px; 
            } 		
        }
        span:nth-of-type(3) {
            top:44px;
            @include global.tab {
                top:34px; 
            } 	
            @include global.sp {
                top:26px; 
            } 	
        }
    }
    p { 
        padding: 50px 30px 32px;
        color: global.$sub-color; 
        text-align: center;
        @include global.fs-xs;
        @include global.tab {
            padding: 40px 24px 26px;
            left: 16px;
            height: 1px; 
        }  
        @include global.sp {
            padding: 32px 14px 12px;
            left: 14px;
            height: 1px; 
        }  
    }
}*/


/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
    z-index: 9999;
	background:global.$bg-main;
	cursor: pointer;
    width: 100px;
    height:100px;
	border-radius: 4px;
    position: fixed;
    top:40px;
    left: 24px;
    @include global.tab {
        width: 80px;
        height:80px;
        top:10px;
        left: 6px; 
    } 	
}
.openbtn.active {
    background:#EBE8E300; 
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .6s;/*アニメーションの設定*/
    position: absolute;
    top:40px;
    left: 24px;
    height: 1px;
    border-radius: 5px;
	background: global.$sub-color;
  	width: 33%;
  }


.openbtn span:nth-of-type(1) {
    top:34px;
    left: 34px;
    @include global.tab {
        top:24px;
        left: 28px;  
    } 	
    @include global.sp {
        top:18px;
        left: 28px; 
    } 		
}

.openbtn span:nth-of-type(2) {
    top:38px;
    left: 34px;
    @include global.tab {
        top:29px;
        left: 28px; 
    } 	
    @include global.sp {
        top:22px;
    } 	
}
.openbtn span:nth-of-type(3) {
    top:42px;
    left: 34px;
    @include global.tab {
        top:34px; 
        left: 28px;  
    } 	
    @include global.sp {
        top:26px; 
    } 	
}
.openbtn span:nth-of-type(3)::after {
	content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
	position: absolute;
	top:10px;
	left:-4px;
	color:global.$sub-color;
	font-size: 12px;
    letter-spacing: 0.1em;
    font-family: global.$font-yg;
	text-transform: uppercase;
    @include global.tab {
        left:-6px; 
    } 	 
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn.active span:nth-of-type(1) {
    top:34px;
    left: 34px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
    @include global.tab {
        top:24px;
        left: 28px;  
    } 	
    @include global.sp {
        top:18px;
        left: 28px; 
    } 	
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top:46px;
    left: 34px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
    @include global.tab {
        top:36px;
        left: 28px; 
    } 	
    @include global.sp {
        top:31px;
       
    } 	
}

.openbtn.active span:nth-of-type(3)::after {
	content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
	top:9px;
	left:11px;
    @include global.tab {
        left:-6px; 
    }
    @include global.tab {
        top:11px;
        left:6px;
    } 	 	
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    top:0px;
    height: 100vh;/*ナビの高さ*/
    /*ナビのスタート位置と形状*/
    left: -120%;
	width:100%;
   
	background:global.$bg_main;
    /*動き*/
	transition: all 0.8s;
    @include global.tab {
    } 	
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav-block {
    width: 100%;
    z-index: 999;  
}

// main_headerの開閉時アニメーション　

#g-nav2{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    left: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:global.$bg_main;
    /*動き*/
	transition: all 0.8s;
}


/*アクティブクラスがついたら位置を0に*/
#g-nav2.panelactive{
    left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav2.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav2-block {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    width: 100%;
    z-index: 999;
    top:110%;
    left:50%;
    transform: translate(-50%,-50%);
   
}

.header {
    transition: transform 0.6s ease;
    position: fixed;
    z-index: 800;
    top: 0px;
    left: 0px;
    box-shadow:0px 4px 24px 0px rgba(0,0,0,0.25);
    width: 248px;
    padding: 64px 24px;
    background-color:global.$bg_main;
    border-radius: 0 260px 0 0;
    height: 100vh;
    @include global.tab {
        display: none;
     } 
    &__logo{  
        @include global.pb40 ;
        img {
            width: 160px;
        }
    }
    &__contents {
        @include global.mb40;
        ul {
            a {
                font-family: global.$font-yg;
            }
        li {
            @include global.fs-m ;
            @include global.pb8 ;
        }
        }
    }
    &__church {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 34px 24px;
        margin: auto;
        background-position: center;
        background-size: cover;
        @include global.mb40;
        &__flex {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }
            p {
                color: #fff;
                @include global.fs-l;
                font-family: global.$font-ym;
            }
            
        }
       
        &:hover {
            @include global.main-hover;
        }
    }
}

.header.collapsed {
    transform: translateX(-100%);
  }

.header_sp{
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 96px;
    z-index: 1000;
    background-color: global.$bg_main;
    @include global.sp {
        display: block;
    } 
    &__logo {
        margin-top: 12px;
        text-align: center;
        img {
            width: 160px;
        }
    }
}

// 全開メニュー
.header_allmenu {
    padding: 0px 215px;
    background-color: global.$bg_main;
    width: 100%;
    height: auto;
    @include global.footer {
        padding: 0px 64px;
    }
    @include global.tab {
        padding: 0px 24px;
    }   
    @include global.sp {
        padding: 100px 16px 40px;
    }  
    &__logo {
        margin: 40px -80px;
        @include global.footer {
           margin: 40px 0px;
           text-align: center;
         }  
        @include global.tab {
           display: flex;
           justify-content: center;
           margin-bottom: 24px;
        } 
        img {
            width: 232px;
        }

        @include global.sp {
            display: none;
        } 
    }
    &__contents {
        @include global.mb40;
        margin-right: 40px;
        ul {
        li {
            @include global.fs-2l ;
            @include global.mb32;
            @include global.pb8 ;
            a {
                font-family: global.$font-ym;
            }
        }
        }
        @include global.tab {
          margin-right: 0px;
        }  
    }
    &__contents02 {
        &__btn {
            @include global.mb40;
            @include global.tab {
                display: block;
                width: 286px;
                margin: auto;
                margin-bottom: 24px;
            }
            @include global.sp {
                margin-bottom: 16px; 
            }    
        }
    }
    &__menu-s {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        width: max-content;
        @include global.pc {
            width: auto; 
        }
        @include global.tab{
            width: max-content; 
        }
        @include global.sp{
            width: auto;
        }       
        a {
            @include global.fs-m; 
            font-family: global.$font-yg;
        }
        span {
            padding: 0px 8px;
        }
    }
    &__church {
        position: relative;
        @include global.mb40;
        width: 182px;
        height: 82px;
        padding: 24px;
        background-position: center;
        background-size: cover;
        @include global.mb40;
        @include global.tab {
            margin: auto;
            @include global.mb40; 
        } 
        &:hover {
            @include global.main-hover;
        }
        &__flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0px;
            img {
                width: 14px;
                height: 14px;
                margin-right: 4px;
            }
            p {
                color: #fff;
                font-size: 14px;
                font-family: global.$font-ym;
            }
        }
    }
    &__wrap {
        margin: 40px 0px 0px;
        display: flex;
        justify-content: start;
        border-bottom: 1px solid global.$sub-color;
        @include global.tab {
            margin: 0px;
            display: block; 
        }  
    }
    &__sns {
        @include global.tab {
          display: flex;
          justify-content: center; 
          margin-bottom: 20px;
        }
        @include global.sp {
            margin-bottom: 12px;
          }    
    }
    &__cta {
        @include global.mb40;
        width: auto;
        align-items: center;
        justify-content: start;
        display: flex;
        @include global.main-radius;
        bottom: 16px;
        right: 16px;
        @include global.tab {
            display: flex;
            justify-content: center;
            align-items: center;
        } 
        &__contents {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                width: 125px;
                @include global.sp {
                    width: 114px;
                 } 
            }
            &__left {
                height: 64px;
                justify-content: center;
                display: flex;
                align-items: center;
                background-color: #fff;
                border-right: 1px solid global.$sub-color;
                @include global.sp {
                   height: 56px;
                } 
            img {
                width: 20px;
                padding-right:4px;
                @include global.sp {
                    width: 24px;
                    padding-right:4px;
                } 
                }
            p {
                white-space: nowrap;
                @include global.fs-s;
                font-family:global.$font-ym; 
            }
           
            @include global.sp {
                height: 56px;
                padding: 0 8px;
            }
        }
        &__middle {
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid global.$sub-color;
            background-color: #fff;
            @include global.sp {
                height: 56px;
             } 
            img {
                width: 21px;
                padding-right:4px;
                @include global.sp {
                    width: 28px;
                    padding-right:4px;
                } 
                }
            p {
                white-space: nowrap;
                @include global.fs-s;
                font-family:global.$font-ym;
            }
            @include global.sp {
                height: 56px;
                padding: 0 8px;
            } 
        }
        &__right {
            border-radius: 0px 2px 2px 0px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#fff;
            @include global.sp {
                height: 56px;
             } 
             p {
                @include global.fs-s;
                white-space: nowrap;
                color:#333;
                font-family:global.$font-ym;
             }
             img {
                width: 24px;
                padding-right:4px;
                @include global.sp {
                    width: 32px;
                    padding-right:4px;
                } 
            }
            @include global.sp {
                height: 56px;
                padding: 0 8px;
            }
        }
    
    &__contents__left:hover {
      @include global.main-hover; 
    }
    &__contents__middle:hover {
        @include global.main-hover; 
      }
      &__contents__right:hover {
        @include global.main-hover; 
      }
    @include global.pc {
        width: auto
    }
        }
    }
}

.sowa-weddings {
    margin: 56px 0px;
    @include global.tab {
        margin: 24px 0px;
    } 
    @include global.tab {
        margin: 24px 0px 0px;
    } 
    a {
        @include global.fs-m; 
    }
    h3 {
        @include global.fs-l;  
        font-family:global.$font-ym;
        @include global.mb40; 
    }
}
.header_margin {
        width: 100%;
        height: 96px;
}

.church_arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 12px;
    right: 4px;
     img {
        width: 100%;
     }
}

.rg_logo_right {
    width: 187px;
    height: auto;
    top: 40px;
    right: 40px;
    position: fixed;
    z-index: 980;
    img {
        width: 100%;
    }
    @include global.tab {
        width: 160px;
        top: 40px;
        right: 16px;
     } 
    @include global.sp {
       display: none;
    } 
}
.slash {
    padding: 0px 8px;
}

.header-top__address {
    @include global.sp {
        padding: 0px 48px;
    }  
    span {
       @include global.fs-l;
    }
    h2 {
        @include global.mb8;
        @include global.tab {
            text-align: center;
        }   
    }
    p {
        @include global.tab {
            text-align: center;
        }   
        @include global.sp {
            text-align: end;
        }  
    }
}