@use "../global" as global; 

.cta {
    width: auto;
    align-items: center;
    margin: auto;
    background-color: global.$bg_main;
    display: flex;
    position: fixed;
    z-index: 990;
    @include global.main-radius;
    bottom: 16px;
    right: 16px; 
    @include global.sp {
        right: auto;
        left: 50%;
        transform: translate(-50%,0);
      }   
    &__contents {
        a {
            width: 165px;
            @include global.sp {
                   @include global.sp {
                    width: 114px;
            } 
            }  
        }
        display: flex;
        align-items: center;
        &__left {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 72px;
            border-right: 1px solid global.$sub-color;
        img {
            width: 36px;
            padding-right:8px;
            @include global.sp {
                width: 24px;
                padding-right:4px;
            } 
            }
        p {
            white-space: nowrap;
            @include global.fs-m;
            font-family:global.$font-ym;
        }
        @include global.sp {
            height: 56px;
            padding: 0 8px;
        }
    }
        &__middle {
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid global.$sub-color;
            img {
                width: 36px;
                padding-right:8px;
                @include global.sp {
                    width: 24px;
                    padding-right:4px;
                } 
                }
            p {
                white-space: nowrap;
                @include global.fs-m;
                font-family:global.$font-ym;
            }
            @include global.sp {
                height: 56px;
                padding: 0 8px;
            } 
        }
        &__right {
            border-radius: 0px 2px 2px 0px;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:#B24A54;
             p {
                white-space: nowrap;
                color:#fff;
                font-family:global.$font-ym;
             }
             img {
                width: 40px;
                padding-right:8px;
                @include global.sp {
                    width: 28px;
                    padding-right:4px;
                } 
            }
            @include global.sp {
                height: 56px;
                padding: 0 8px;
            }
    }
    }
    &__contents__left:hover {
      @include global.main-hover; 
    }
    &__contents__middle:hover {
        @include global.main-hover; 
      }
      &__contents__right:hover {
        @include global.main-hover; 
      }
    @include global.pc {
        width: auto
    }
}

// 投稿記事デザイン
.article-details {
    &__contents {
       
        &__img {
            width: 100%;
            height: 596px;
            background-position: center;
            background-size: cover;
            @include global.mb16;
            @include global.pc {
                height:400px;
            }
            @include global.tab {
                height:300px;
            }
            @include global.sp {
                height:200px;
            } 
        }
        ol {
            li {
                @include global.mb8;
                line-height: 1.8;
                letter-spacing: 0.1em;
                border-bottom: 1px dotted global.$main-color;
            }
        }
        h3 {
            padding: 10px;
            background-color: global.$bg_main;
            @include global.mb24;
        }
        h4 {
            @include global.mb24; 
            @include global.fs-l;
        }
        p {
            @include global.mb24;
        }
        a {
            font-family: global.$font-yg;
            color: global.$link-color;
        }
        strong {
            font-family: global.$font-yg;
        }
        img {
            width: 100%;
            @include global.mb24; 
        }
        blockquote {
            position:relative;
            background-color: global.$bg_main;
            line-height: 1.8;
            @include global.p32;
            @include global.mb24;
            @include global.fs-m;
            @include global.tab {
                padding:32px 24px;
            }
            @include global.sp {
                padding:24px 16px;
            }
            &:before {
                position:absolute;
                content: "“";
                font-family: sans-serif;
                font-size: 80px;
                color:global.$point_main;
                top:30px;
                left:12px;
                @include global.sp {
                    font-size: 64px;
                    top:20px;
                    left:12px;
                }
            }
            &:after {
                position:absolute;
                content: "”";
                font-family: sans-serif;
                font-size: 80px;
                color:global.$point_main;
                bottom:0px;
                right:12px;
                @include global.sp {
                    font-size: 64px;
                }
            }
        }
        button {
            padding: 12px 138px;
            background-color: global.$point_main;
            color: #fff;
            font-family: global.$font-yg;
            white-space: nowrap;
            @include global.fs-m;
            @include global.sp {
                padding: 12px 93px;
               margin: auto;
            }  

        }
    }
}
// 目次

.mokuji {
    @include global.mb16; 
    padding: 24px;
    border: 1px solid global.$point-main;
    @include global.sp {
        padding: 16px;
    }   
    h4 {
        font-weight: 900;
        text-align: center;
        font-family: global.$font-yg;
    }
    a {
        font-family: global.$font-yg;
        text-decoration: none;
        color:#333;
    }
    ol {
    li{
        @include global.fs-2l;
        @include global.mb16;
        &:last-child {
            margin-bottom: 0px;
        } 
    }
    }
}

// カテゴリー装飾
// @mixin ct {
    // padding: 8px 32px;
    // border: 1px solid global.$sub-color;
// }

// タグ装飾
.tag-style {
    padding: 0px 16px;
    background-color: global.$bg_main;
    border-radius: 16px;
}

// ダグ装飾_box 
.tag-style02 {
    padding: 0px 16px;
    background-color: global.$bg_main;
    border-radius: 16px;
}

// ページタイトル
// __TOPタイトル
.page-title_01,.page-title_02 {
    white-space: nowrap;
    margin-top: 200px;
    text-align: center;
    @include global.mb40;
    @include global.tab {
        margin-top: 104px;
    }
    @include global.sp {
        margin-top: 48px;
    }  
    &__eng {
        p {
            @include global.fs-4xl;
            color: global.$point_main;
            font-family: 'Cinzel', serif; 
            line-height: 150%;
            letter-spacing: 0.1em; 
        }
    }
    &__jp {
        p {
            font-family:global.$font-yg;
            color: global.$point_main;
        }
    }
    &__contents {
        p {
            white-space: pre-wrap;
            font-family: global.$font-ym;
            line-height: 1.8;
            letter-spacing: 0.1em;
            @include global.sp {
                text-align: start;
            }  
        }
        br {
            display: block;
            @include global.sp {
                display: none;
            }  
        }
    }
}
.page-title_02 {
    margin-top: 0px; 
}

// __各所タイトル
.page-title_03 {
    white-space: nowrap;
    padding-top: 200px;
    text-align: center;
    @include global.mw1100;
    @include global.mb80;
   @include global.sp {
        padding-top: 40px;
    }
    &__eng {
        p {
            @include global.fs-4xl;
            color: global.$point_main;
            font-family: 'Cinzel', serif; 
            line-height: 150%;
            letter-spacing: 0.1em; 
        }
        br {
            display: none;
            @include global.sp {
               display: block; 
            }  
        }
      
    }
    &__jp {
        @include global.mb32;
        p {
            font-family:global.$font-yg;
            color: global.$point_main;
        }
    } 
    &__contents {
        p {
            white-space: pre-wrap;
            font-family: global.$font-ym;
            line-height: 1.8;
            letter-spacing: 0.1em;
            @include global.sp {
                text-align: start;
            }  
        }
        br {
            display: block;
            @include global.sp {
                display: none;
            }  
        }
    }   
}
.page-title_04,.page-title_05,.page-title_06,.page-title_07,.page-title_08,.page-title_09,.page-title_10,.page-title_11,.page-title_12 {
    text-align: start;
    white-space: nowrap;
    &__eng {
        p {
            @include global.fs-3xl;
            color: global.$point_main;
            font-family: 'Cinzel', serif; 
            line-height: 150%;
            letter-spacing: 0.1em; 
        }
    }
    &__jp {
        p { 
            white-space: wrap;
            font-family:global.$font-yg;
            color: global.$point_main;
        }
    }
}

// 背景ありタイトル
.page-title_05 {
    white-space: nowrap;
    padding-top: 200px; 
    padding-left: 215px;
    padding-right: 215px;

    &__eng {
        p {
            @include global.fs-5xl; 
            color: #fff;
        } 
    } 
    &__jp {
        @include global.mb32;
        p {
            color: #fff;
        } 
    }
    &__contents {
        p {
            white-space: pre-wrap;
            color: #fff;
            font-family: global.$font-ym;
            line-height: 1.8;
            letter-spacing: 0.1em;
            @include global.sp {
               text-align: start;
            }
        }
    }   
    @include global.pc {
        padding-left: 80px;
        padding-right: 80px;
    }
    @include global.tab {
        text-align: center;
        padding-top: 120px;
    }
    @include global.sp {
        padding-top: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

// タイトル背景

.page-background {
    width: 100%;
    height: 640px;
    background-position: center;
    background-size: cover;
    @include global.mb40;
    @include global.sp {
        display: none;
        height: 400px;
    }  
}
.page-background_sp {
    display: none;
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    @include global.mb40;
    @include global.sp {
        display: block;
        margin-bottom: 48px;
    }  
  }

// tabになったら真ん中揃え

.page-title_06 {
    @include global.tab {
        text-align: center;
    }   
}
.page-title_07 {
   text-align: center;
    &__eng {
        p {
           color: #fff;
        }
        br {
            display: none;
            @include global.pc {
                display: block;
            }
        }
    }
    &__jp {
        p {
            color: #fff;
        }
    }   
}
.page-title_08 {
    text-align: center;
    &__eng {
        p {
            @include global.fs-2xl;
        }
    }
}
.page-title_09{
    text-align: start;
    &__eng {
        p {
            @include global.fs-2xl;
        }
    }
}

.page-title_10 {
    @include global.tab {
        text-align: center;
    }  
    &__eng {
        p {
            @include global.tab {
                font-size: 20px; 
            }   
        }
    }  
}

// 教会イベント
.page-title_11{
    text-align: start;
    &__eng {
        p {
            @include global.fs-xl;
        }
    }
    &__jp {
        p {
            font-size:12px ;
        }
    } 
}

//プロポーズのrecommend title
.page-title_12 {
    &__eng {
        p {
           text-align: center;
        }
    }  
    &__jp {
        p {
           text-align: center;
        }
    } 
}


// 他のページ遷移ボタン

.other_page {
    padding: 35px 0px 80px;
    p {
        text-align: center;
    }
    background-color:global.$bg_main;
    width: 100%;
    &__wrap {
        margin: auto;
        @include global.mw1216;
        display: flex;
        justify-content: center;
        @include global.tab {
            display: block;
        }
        @include global.sp {
            
        }  
        a {
            width: calc((100% - 50px) / 3);
            display: inline-block;
            margin-right: 25px;
            &:last-child {
                margin-right: 0px;  
            }
            @include global.tab {
                width: 100%;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0px;
                }
            } 
        }
    }
    &__block {
        background-color: #fff;
        height: 180px;
        display: flex;
        justify-content: center;
        @include global.pc {
            height: 140px;
        }
        @include global.tab {
            height: 120px;
        }
        @include global.sp {
            height: 100px;
        }       
        &__img {
            width: 40%;
            background-position: center;
            background-size: cover;
        } 
        &__title {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            @include global.main-hover; 
        }
    }
}

.other_box_link {
    a {
        display: block;
    } 
}