/*=================
     
    color.scss

=======================*/


/* ========= color ====== */
$text_main:#333;
$point_main:#99762F;
$bg_main:#EBE8E3;
$bg_sub:#B24A54;
$pan-color:#E6E9E350;
$main-color:#EBE8E3; 
$sub-color:#B24A54; 
$link-color:#115DA1;
$price-color:#D3A754;
$primavera:#AF7566;
$granmanie:#37384B;



